---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import { getCollection } from "astro:content";

interface Item {
  name: string;
  description: string;
  url: string;
  isExternal: boolean;
}

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);

const projects: Item[] = [
  {
    name: "applied notes",
    description: "me and my notes.",
    url: "/",
    isExternal: false,
  },
];
---

<Layout>
  <main class="[&_p]:text-muted-foreground">
    <h2>Intro</h2>
    <p>
      Das Blog hält meine Beobachtungen fest.
    </p>
    <h2>Notizen</h2>
    <div class="flex flex-col gap-2">
      {
        posts.map((post) => (
          <a
            class="hover:bg-muted -mx-3 flex flex-col rounded-md px-3 py-2 no-underline"
            href={`/blog/${post.id}`}
          >
            <span>{post.data.title}</span>
            <span class="text-muted-foreground">{post.data.description}</span>
          </a>
        ))
      }
    </div>
    <h2>Disclaimer</h2>
    <p>
      Ein rein privates und kommerzfreies Projekt zum Festhalten meiner Notizen und Beobachtungen.
    </p>
  </main>
</Layout>
